html {
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
  min-height: 30%;
}

body {
  background-color: transparent;
}

<<<<<<< Updated upstream
#registration-form {
  max-width: 1000px;
  margin: 120px auto;
=======
nav {
	background-color: whitesmoke;
	height: 7vh;
	display: flex;
	flex-direction: row;
  }
  nav > h1{
	  text-decoration: none;
	  color: white;
	  margin-left: 10px;
  }
  nav > a {
	text-decoration: none;
	color: rgba(122, 178, 231, 0.925,5);
	margin-right: 10px;
	float: right;
  }
  nav > a:hover {
	color: black;
	font-size: 18px;
	float: right;
  }
  nav-tabs{
	  background-color: azure;

  }

#registration-form{
	max-width: 2000px;
	margin: 120px auto;
>>>>>>> Stashed changes
}

#registration-form .image {
  float: left;
  background-image: url("../img/cafesito.jpg");
  height: 500px;
  width: 30%;
  background-size: cover;
}

#registration-form .frm {
  float: right;
  height: 500px;
  width: 70%;
  min-width: 250px;
  padding: 0 35px;
  background-size: 100% 100%;
  background-color: white;
}

#registration-form h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

<<<<<<< Updated upstream
#registration-form .form-control {
  width: 90%;
  padding: 12px 20px;
  height: auto;
=======
#registration-form .form-control{
	width:100%;
	padding: 12px 20px;
	height: 34px;
>>>>>>> Stashed changes
}

@media screen and (max-width: 700px) {
  #registration-form .image {
    width: 30%;
    background-position: 60%;
  }

  #registration-form .frm {
    width: 70%;
  }

  #registration-form .form-control {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #registration-form .image {
    display: none;
  }

  #registration-form .frm {
    width: 100%;
  }

  #registration-form h1 {
    text-align: center;
  }

  #registration-form .btn {
    width: 100%;
    margin-top: 20px;
  }
}
