<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&display=swap"
      rel="stylesheet"
    />
    <link href="{{url_for('static', filename='css/stylesLogin.css')}}" rel="stylesheet">

  </head>
  <body>
    <div class="cuadroLogin">
      <h3 class="ingresaLabel">Ingresa a la plataforma</h3>
      <form action="" class="formularioLogin" method="POST">
        <input type="email" placeholder="Correo electronico" class="inputFormulario" />
        <input type="password" placeholder="Contraseña" class="inputFormulario" />
        <div class="cajaBotones">
          <input type="submit" value="Ingresar" class="botonIngresar" />
          <a href="/" class="botonIngresar"> Regresar</a>
        </div>
      </form>
      
    </div>
  </body>
</html>
