<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Registro Cajero</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/CajeroRegistroStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/nav.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/CajeroRegistroStyle.css')}}">
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        function mostrarPassword() {
            var cambio = document.getElementById("contraseña");
            if (cambio.type == "password") {
                cambio.type = "text";
                $('.icon').removeClass('fa fa-eye-slash').addClass('fa fa-eye');
            } else {
                cambio.type = "password";
                $('.icon').removeClass('fa fa-eye').addClass('fa fa-eye-slash');
            }
        } 
    </script>
</head>
{% if exito == "enviado" %}
<body onload="alert('Cajero registrado exitosamente!! Se ha enviado un correo con la informacion de registro')">
{% elif exito == "error" %}
  <body onload="alert('Error, intente nuevamente')">
  {% else %}
<body>
    {% endif %}
    <nav class="nav">
        <img src="{{url_for('static', filename='img/latte.png')}}" alt="">
        <a href="{{url_for('registroProducto')}}" class="nav-link active">Registrar Producto</a>
        <a href="{{url_for('registroCajero')}}" class="nav-link">Registar cajero</a>
        <a href="{{url_for('productos')}}" class="nav-link">Productos</a>
        <a href="{{url_for('cajeros')}}" class="nav-link">Cajeros</a>
        <a href="{{url_for('balance')}}" class="nav-link">Balance</a>
        <a href="/" class="nav-link">Cerrar sesión</a>
    </nav>
    <div class="container" id="registration-form">
        <div class="image"></div>
        <div class="frm">
            <h1>Registro Cajero</h1>

            <form method="POST">
                <!--nombre-->
                <div class="col-md-6">
                    <label for="nombre"> Nombre: (*)</label><br>
                    <input name="nombre" type="text" class="form-control" id="nombre" placeholder="Ingrese nombre Cajero" required>
                </div>
                <!--apellido-->
                <div class="col-md-6">
                    <label for="apellido">Apellido:</label><br>
                    <input name='apellido' type="text" class="form-control" id="apellido" placeholder="Ingrese Apellidos Cajero">
                </div>
                <!--edad-->
                <div class="col-md-6">
                    <label for="edad">Edad:</label><br>
                    <input name="edad" type="number" min="18" class="form-control" id="edad" placeholder="Ingrese Edad Cajero">
                </div>
                <!--identificacion-->
                <div class="col-md-6">
                    <label for="identificacion">Identificación:</label><br>
                    <input name="identificacion" type="number" min="1" maxlength="10" class="form-control" id="identificacion"
                        placeholder="Ingrese Identificación Cajero">
                </div>
                <!--direccion-->
                <div class="col-md-6">
                    <label for="direccion">Dirección:</label><br>
                    <input name="direccion" type="text" class="form-control" id="direccion" placeholder="Ingrese Dirección Cajero">
                </div>
                <!--correo electronico-->
                <div class="col-md-6">
                    <label for="email">Correo Electronico:(*)</label><br>
                    <input name="email" type="email" class="form-control" id="email" placeholder="Ingrese Correo Electronico Cajero"
                        required>
                </div>
                <!--combobox de genero-->
                <div class="col-md-6">
                    <label for="genero">Genero:</label><br>
                    <select name="genero" id="genero">
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                        <option value="O">Otros</option>
                    </select>
                </div>
                <!-- contraseña, mejor no tocar-->
                <div class="row">
                    <div class="col-lg-6">
                        <label for="contraseña">Contraseña:(*)</label><br>
                        <div class="input-group">
                            <input name="pass" type="password" class="form-control" id="contraseña" placeholder="Ingrese Contraseña"
                                required>
                            <span class="input-group-btn"><button id="show_password" class="btn btn-primary"
                                    type="button" onclick="mostrarPassword()">
                                    <span class="fa fa-eye-slash icon"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
                <!--Boton de cargar imagen-->
                <div class="col-md-6">
                    <label for="imagen">Cargar Imagen:</label>
                    <input type="file" class="form-control" id="imagen">
                </div>
                <!--Boton DE ENVIAR-->
                <div class="col-md-6">
                    <br><button type="submit" class="btn btn-success btn-lg">Submit</button>
                </div>

            </form><br><br>
            <br><br><br>
            <p> (*) Campos obligatorios.</p>
        </div>

    </div>
</body>

</html>